@font-face {
  font-family: "iconfont"; /* Project id 3950151 */
  src: url('iconfont.woff2?t=1678728778756') format('woff2'),
       url('iconfont.woff?t=1678728778756') format('woff'),
       url('iconfont.ttf?t=1678728778756') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-yueliang:before {
  content: "\e63e";
}

